body
	{
	padding-top: 70px;
	}

/*#list_hosters
	{
	max-height: 400px;
	overflow: hidden;
	overflow-y: auto;
	}*/

.clickable
	{
	cursor: pointer;
	}

#listPrefixPackage
	{
	list-style-type: none;
	margin: 0;
	padding: 10px 0 0 10px;
	}

#sect_tab_result, #sect_links_debrid, #div_dialog, #debrid_userinfo, #debrid_hostersList
	{
	display: none;
	}

section.row
	{
	margin-bottom: 20px;
	}

a
	{
	color: #000000;
	background: none;
	text-decoration: none;
	}

a:hover
	{
	color: #C0C0C0;
	}

#div_hosters, #txt_links, #txt_links_debrid
	{
	height: 200px;
	}

#txt_links, #txt_links_debrid
	{
	width: 100%;
	}

.img_hoster_icon
	{
	width: 16px;
	}